<header class="h-24 sm:h-35 flex items-center z-30 w-full">
  <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"></script>
  <div class="container mx-auto px-2 flex items-center justify-between">
    <%= link_to wallets_path do %>
      <div class="uppercase text-gray-800 dark:text-white font-black text-3xl flex">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" viewBox="0 0 15 15">
          <path fill-rule="evenodd" d="M2 12.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm4-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5z"/>
        </svg>
        <span class="ml-3">KOTOBA WALLET.</span>
      </div>
    <% end %>
    <% if user_signed_in? %>
      <!-- ドロップメニュー＠ログイン済 -->
      <div class="flex items-center">
        <!-- component -->
        <div class="group">
          <button class="outline-none focus:outline-none py-1 bg-white rounded-sm flex items-center min-w-full">
            <div class="flex justify-center items-center space-x-3 cursor-pointer w-30">
              <div class="w-16 rounded-full overflow-hidden border-2 dark:border-white border-gray-900">
              </div>
              <div class="font-bold dark:text-white text-gray-900 text-lg">
                <div class="cursor-pointer"><%=current_user.nickname%></div>
                <div class="cursor-pointer">@9576</div>
              </div>
            </div>
          </span>
          <svg
        class="fill-current h-6 w-6 transform group-hover:-rotate-180
        transition duration-150 ease-in-out"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
      >
            <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/>
          </svg>
        </button>
        <ul
    class="bg-white border-t-4 border-gray-800 hover:border-yellow-500 rounded-sm transform scale-0 group-hover:scale-100 absolute 
  transition duration-150 ease-in-out origin-top w-44"
  >
          <li class="font-medium">
            <a href="#" class="p-2 flex items-center transform transition-colors duration-200 border-r-4 border-transparent hover:border-yellow-500">
              <div class="mr-3">
                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"></path></svg>
              </div>
              アカウント情報
            </a>
          </li>
          <li class="font-medium">
            <a href="#" class="p-2 flex items-center transform transition-colors duration-200 border-r-4 border-transparent hover:border-yellow-500">
              <div class="mr-3">
                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z"></path><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path></svg>
              </div>
              設定
            </a>
          </li>
          <hr class="dark:border-gray-700">
          <li class="font-medium">
            <%= link_to destroy_user_session_path, method: :delete do%>
              <div class="p-2 flex items-center transform transition-colors duration-200 border-r-4 border-transparent hover:border-red-600">
                <div class="mr-3 text-red-600">
                  <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"></path></svg>
                </div>
                ログアウト
              </div>
            <% end %>
          </li>
        </ul>
      </div>
    <% else %>
      <!-- ドロップダウンメニュー＠未ログイン -->
      <div class="flex items-center">
        <!-- component -->
        <div class="group">
          <button class="outline-none focus:outline-none py-1 bg-white rounded-sm flex items-center min-w-full">
            <div class="flex justify-center items-center space-x-3 cursor-pointer w-30">
              <div class="font-bold dark:text-white text-gray-900 text-lg">
                <div class="cursor-pointer">ログイン</div>
              </div>
            </div>
          </span>
          <svg
        class="fill-current h-6 w-6 transform group-hover:-rotate-180
        transition duration-150 ease-in-out"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
      >
            <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/>
          </svg>
        </button>
        <ul
    class="bg-white border-t-4 border-gray-800 hover:border-yellow-500 rounded-sm transform scale-0 group-hover:scale-100 absolute 
  transition duration-150 ease-in-out origin-top w-44"
  >
          <li class="font-medium">
            <%= link_to new_user_session_path do%>
              <div class="p-2 flex items-center transform transition-colors duration-200 border-r-4 border-transparent hover:border-yellow-500">
                <div class="mr-3">
                  <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"></path></svg>
                </div>
                ログイン
              </div>
            <% end %>
          </li>
          <li class="font-medium">
            <%= link_to new_user_registration_path do%>
              <div class="p-2 flex items-center transform transition-colors duration-200 border-r-4 border-transparent hover:border-yellow-500">
                <div class="mr-3">
                  <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"></path></svg>
                </div>
                新規登録
              </div>
            <% end %>
          </li>
        </ul>
      </div>
    <% end %>
    <style>
      /* since nested groupes are not supported we have to use
         regular css for the nested dropdowns
      */
      li>ul                 { transform: translatex(100%) scale(0) }
      li:hover>ul           { transform: translatex(101%) scale(1) }
      li > button svg       { transform: rotate(-90deg) }
      li:hover > button svg { transform: rotate(-270deg) }
      
      /* Below styles fake what can be achieved with the tailwind config
         you need to add the group-hover variant to scale and define your custom
         min width style.
      	 See https://codesandbox.io/s/tailwindcss-multilevel-dropdown-y91j7?file=/index.html
      	 for implementation with config file
      */
      .group:hover .group-hover\:scale-100 { transform: scale(1) }
      .group:hover .group-hover\:-rotate-180 { transform: rotate(180deg) }
      .scale-0 { transform: scale(0) }
      .min-w-32 { min-width: 8rem }
    </style>
  </div>
</div>
</header>
