<%= render "shared/home-header" %>
<!-- component -->
<div class="flex flex-wrap items-center bg-gray-100 py-36">
  <% @wallets.each do |wallet| %>
    <!-- wallet単体コンテナ -->
    <div class="lg:w-1/3 md:w-1/2 sm:w-full">
      <div class="flex flex-col">
        <div class="bg-white border border-gray-100 shadow-lg  rounded-2xl p-4 m-4 xl:h-96 lg:h-96 md:h-96 sm:h-auto">
          <div class="flex-none sm:flex">
            <div class="z-1 relative h-44 w-44 inline-flex items-center   sm:mb-0 mb-3">
              <%= image_tag('https://pbs.twimg.com/profile_images/1415911648326418433/dRCCHh7a_400x400.jpg', class:"w-44 h-44 object-cover rounded-full border-4 border-yellow-300")%>
              <a href="#" class="absolute right-1 bottom-1 -ml-3  text-white p-1 text-xs bg-yellow-400 hover:bg-yellow-500 font-medium tracking-wider rounded-full transition ease-in duration-300">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 64 64" stroke-width="3" stroke="white" fill="none"><path d="M15.68,52.5,8.27,41.35a1.21,1.21,0,0,1,.34-1.67l4.68-3a1.2,1.2,0,0,1,1.64.32l7.56,11a1.21,1.21,0,0,1-.32,1.68l-4.82,3.23A1.2,1.2,0,0,1,15.68,52.5Z" stroke-linecap="round"/><path d="M15.76,38.14l7.8-4.91a2.21,2.21,0,0,1,1.7-.27c2.77.72,11.1,3,14.17,4.08,2.31.81,3.24,3.09,2.31,4.6-1.26,2-3.18,1.8-4.56,1.41a3.62,3.62,0,0,1-.55-.2l-5.46-2.32" stroke-linecap="round"/><path d="M21.81,47l2.55-1.46,14.43,4a1.09,1.09,0,0,0,.88-.14c2-1.31,10.71-7.07,15-10.1a2.4,2.4,0,0,0,.3-4,3.1,3.1,0,0,0-3.71-.32c-1.5.84-5.67,3.93-5.67,3.93" stroke-linecap="round"/><path d="M30.39,17.55A5.48,5.48,0,0,1,35.53,11c3.09-.25,4.61,3.48,4.91,4.19a.06.06,0,0,0,.11,0c1.43-3.93,4-4.09,5-4.19,2.47-.25,5.77,1.65,5.08,6.09-.94,6.18-10.16,13.11-10.16,13.11S31.59,24.19,30.39,17.55Z"/></svg>
              </a>
            </div>
            <div class="flex-auto sm:ml-6 justify-evenly">
              <div class="flex items-center justify-between sm:mt-2">
                <div class="flex items-center">
                  <%= link_to wallet_path(wallet.id) do %>
                    <div class="flex flex-col">
                      <div class="w-full flex-none text-lg text-gray-600 font-bold leading-none"><%= wallet.user.nickname%></div>
                      <div class="flex-auto text-gray-500 mt-1 text-sm">
                        <span class="mr-3 ">@TsubasaKawabata</span><span class="mr-3 border-r border-gray-600  max-h-0"></span><span>Tokyo,JPN</span>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
              <div class="flex text-lg text-gray-600 my-2 inline-flex items-center">
                <div class="p-1 bg-yellow-400 rounded-full mr-2">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white" class="bi bi-wallet2" viewBox="0 0 16 16">
                    <path d="M12.136.326A1.5 1.5 0 0 1 14 1.78V3h.5A1.5 1.5 0 0 1 16 4.5v9a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 13.5v-9a1.5 1.5 0 0 1 1.432-1.499L12.136.326zM5.562 3H13V1.78a.5.5 0 0 0-.621-.484L5.562 3zM1.5 4a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-13z"/>
                  </svg>
                </div>
                <span><%= wallet.stock_quantity %></span>
              </div>
              <!-- copy start -->
              <div class="flex mt-1  text-sm text-gray-500 rounded-full rounded-full border border-gray-600">
                <div class="w-1/2 inline-flex items-center mr-10">
                  <span class="text-xs font-extralight w-14  h-8 text-center mr-2 pt-2">
                    GIVE
                  </span>
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-users mr-2" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <circle cx="9" cy="7" r="4" />
                    <path d="M3 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" />
                    <path d="M16 3.13a4 4 0 0 1 0 7.75" />
                    <path d="M21 21v-2a4 4 0 0 0 -3 -3.85" />
                  </svg>
                  <p class="">7468</p>
                  <p class="text-xs ml-1 font-thin"></p>
                </div>
                <div class="w-1/2 inline-flex items-center">
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-telegram mr-2" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M15 10l-4 4l6 6l4 -16l-18 7l4 2l2 6l3 -4" />
                  </svg>
                  <p class="">87410</p>
                  <p class="text-xs ml-1 font-thin"></p>
                </div>
              </div>
              <!-- copy end -->
              <!-- copy start -->
              <div class="flex mt-1  text-sm text-gray-500 rounded-full rounded-full border border-gray-600">
                <div class="w-1/2 inline-flex items-center mr-10">
                  <span class="text-xs font-extralight w-14  h-8 text-center mr-2 pt-2">
                    TAKE
                  </span>
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-users mr-2" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <circle cx="9" cy="7" r="4" />
                    <path d="M3 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" />
                    <path d="M16 3.13a4 4 0 0 1 0 7.75" />
                    <path d="M21 21v-2a4 4 0 0 0 -3 -3.85" />
                  </svg>
                  <p class="">3879</p>
                  <p class="text-xs ml-1 font-thin"></p>
                </div>
                <div class="w-1/2 inline-flex items-center">
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-telegram mr-2" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M15 10l-4 4l6 6l4 -16l-18 7l4 2l2 6l3 -4" />
                  </svg>
                  <p class="">38976</p>
                  <p class="text-xs ml-1 font-thin"></p>
                </div>
              </div>
              <!-- copy end -->
            </div>
          </div>
          <div class="mt-8">
            <p class="text-gray-800 leading-loose font-normal text-sm text-left">2021年4月よりテックキャンプでWEB言語学習中（10月卒業予定）
              現在は小売業大手にて家具販売に従事。主にRuby on Railsを使用しています。”サービス”を生業にしている方に役に立つサービス・WEBアプリを作りたい。</p>
          </div>
        </div>
      </div>
    </div>
    <!-- wallet単体コンテナ -->
  <% end %>
</div>
<%= render "shared/footer" %>
